
<div class="panel panel-primary">
      <div class="panel-heading">
            <h3 class="panel-title">Congratulatory Message for Item Number : <strong>{{m.itemno}}</strong></h3>
      </div>
      <div class="panel-body">
          
          <form ng-submit="appendCongratulatory()">
              <div class="form-group">
                  <div class="checkbox">
                      <label>
                          <input type="checkbox" value="" ng-model="xForm.isReleased">
                          Congratulatory Released to SDS:
                      </label>
                  </div>
              </div>
              <div class="form-group">
                  <label for="">Date of Released to SDS:</label>
                  <p class="input-group form-control">
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="datepicker" ng-model="xForm.datetoSDS" is-open="popup.opened" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
              </div>

              <div class="form-group">
                  <label for="">Due Date of Submission:</label>
                  <p class="input-group form-control">
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" datepicker-options="datepicker" ng-model="xForm.datesubmission"  is-open="popup2.opened" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
              </div>
              <div class="form-group">
                  <label for="">Effectivity of Appointment:</label>
                  <input type="text" class="form-control" id="" placeholder="Input here ..." ng-model="xForm.effectivity">
              </div>

              <div class="form-group">
                  <label for="">Remarks:</label>
                  <div class="btn-group">
                        <label class="btn btn-danger" ng-model="radioModel" uib-btn-radio="'Not Submitted'">Not Submitted</label>
                        <label class="btn btn-warning" ng-model="radioModel" uib-btn-radio="'Returned for Compliance'">Returned for Compliance</label>
                        <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Complete and Received'">Complete and Received</label>
                    </div>
              </div>
              <div ng-if="radioModel">
                    <strong>You have seleced :</strong> "{{radioModel}}" as a remark.
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-danger">Home</button>
          </form>
          
      </div>
</div>

<script type="text/ng-template" id="myModalOK.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Good Job!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <center>Data successfully inserted!<center>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>
</script>