{{message}}
<button type="button" ng-show="m.hasVacant" onclick="window.location.assign('#add-appointee')" ng-click="addCtrl.reloadData()" class="btn btn-success glyhpicon glyphicon-plus"> ADD NEW</button>
<br>
<br>
<input type="text" ng-model="hunt" placeholder="Search here ... "/>
<br>
<table class="table table-hover centered">
    <thead class="bg-primary">
        <tr>
            <td><center>Item No.</center></td>
            <td><center>Name</center></td>
            <td><center>Vacant Position</center></td>
            <td><center>Date Informed</center></td>
            <td><center>Reply</center></td>
            <td colspan="2"><center>Menu<span class="caret"></span></center></td>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="x in appoint | filter: hunt | itemsPerPage: 5">
            <td><center>{{x.itemno}}</center></td>
            <td><center>{{x.name}}</center></td>
            <td><center>{{x.position}}</center></td>
            <td><center>{{x.dateinformed}}</center></td>
            <td><center>{{x.reply}}</center></td>
            <td><button ng-click="openEdit(x.itemno,x.position)" class="btn btn-warning btn-xs glyphicon glyphicon-pencil"> UPDATE</button></td>
            <td><button ng-click="open(x.name,x.itemno)" class="btn btn-danger btn-xs glyphicon glyphicon-trash"> REMOVE</button></td>
        </tr>
    </tbody>
</table>

<dir-pagination-controls></dir-pagination-controls>


<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">{{m.varpass}}</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <center>Are you sure you want to remove {{m.varpass}} with item number: {{m.itemno}}?<center>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

