
<div class="page-header">
  <h1><center><small>List of Vacant Position</small></center></h1>
</div>
<input type="text" ng-model="hunt" placeholder="Search here ..."/>
<table class="table table-hover centered">
    <thead>
        <tr class="bg-primary">
            <td><center>Item No.</center></td>
            <td><center>Position</center></td>
            <td><center>Category</center></td>
            <td><center>School Level</center></td>
            <td><center>District</center></td>
            <td><center>School Name</center></td>
            <td><center>School ID</center></td>
            <td><center>Appointee</center></td>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="x in poss | itemsPerPage: 5 | filter: hunt">
            <td><center>{{x.itemno}}</center></td>
            <td><center>{{x.position}}</center></td>
            <td><center>{{x.positioncategory}}</center></td>
            <td><center>{{x.schoollevel}}</center></td>
            <td><center>{{x.district}}</center></td>
            <td><center>{{x.schoolname}}</center></td>
            <td><center>{{x.schoolid}}</center></td>
            <td><center><button ng-click="appointNow(x.itemno,x.position)" class="btn btn-warning btn-sm glyphicon glyphicon-plus"> Assign</button></center></td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls></dir-pagination-controls>
