<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrator</title>
    <link rel="stylesheet" type="text/css" href="../../libs/css/bootstrap-bo.css">
    <link rel="stylesheet" type="text/css" href="../../pages/HR/angular-toast.css">
    <script src="../../libs/js/angular.min.js"></script>
    <script src="../../libs/js/angular-route.min.js"></script>
    <script src="../../libs/js/ui-bootstrap.min.js"></script>
    <script src="../../pages/HR/angular-toast.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Administrator</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Tracking <span class="sr-only">(current)</span></a></li>
                <li><a href="user-control.html">User-Control </a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../../log-out.php">Sign-Out</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<br><br><br><br><br><br>
    

<div class="container-fluid" ng-app="adminApp" ng-controller="adminCtrl">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="jumbotron">
                <input type="text" ng-model="query" placeholder="search here..."/>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <th><center>Item No</center></th>
                            <th><center>Position</center></th>
                            <th><center>School ID</center></th>
                            <th><center>School Name</center></th>
                            <th><center>Name</center></th>
                            <th><center></center></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in data | filter: query">
                                <td><center>{{x.itemno}}</center></td>
                                <td><center>{{x.position}}</center></td>
                                <td><center>{{x.schoolID}}</center></td>
                                <td><center>{{x.schoolName}}</center></td>
                                <td><center>{{x.name}}</center></td>
                                <td><center><button class="btn btn-xs btn-warning glyphicon glyphicon-search" ng-click="viewMe(x.itemno)"> View Details</button></center></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>